<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.homepage.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>controller.homepage.ProductDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardController</servlet-name>
        <servlet-class>controller.admin.DashBoardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdmin</servlet-name>
        <servlet-class>controller.admin.ProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenController</servlet-name>
        <servlet-class>controller.authen.AuthenController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.user.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBillController</servlet-name>
        <servlet-class>controller.bill.UserBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBillDetailsController</servlet-name>
        <servlet-class>controller.bill.UserBillDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillController</servlet-name>
        <servlet-class>controller.bill.AdminBillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBillDetailsController</servlet-name>
        <servlet-class>controller.bill.AdminBillDetailsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountAdmin</servlet-name>
        <servlet-class>controller.admin.AccountAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerController</servlet-name>
        <servlet-class>controller.admin.CustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChartController</servlet-name>
        <servlet-class>controller.admin.ChartController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/product-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardController</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdmin</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenController</servlet-name>
        <url-pattern>/authen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBillController</servlet-name>
        <url-pattern>/userbill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBillDetailsController</servlet-name>
        <url-pattern>/userbillDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillController</servlet-name>
        <url-pattern>/adminbill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBillDetailsController</servlet-name>
        <url-pattern>/adminbillDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountAdmin</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>
        <url-pattern>/customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChartController</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
